<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>Kevin Palomino</title>
    <link rel="stylesheet" href="../static/css/main.css" />
	<style>
        .justificado {
            text-align: justify;
        }
    </style>
</head> 
<body class="is-preload">
	<!-- Nav -->
    <nav id="nav">
        <ul class="container">
            <li><a href="#top">Information</a></li>
            <li><a href="#work">Lastest Projects</a></li>
            <li><a href="#portfolio">Courses</a></li>
            <li><a href="#contact">Testimonios</a></li>
        </ul>
    </nav>

    	<!-- Home -->
			<article id="top" class="wrapper style1">
				<div class="container">
					<div class="row"> 
						<div class="col-4 col-5-large col-12-medium">
							<span class="image fit"><img src="../static/images/kvnprofile.JPG" alt="" /></span>
						</div>
						<div class="col-8 col-7-large col-12-medium">
							<header>
								<h1> <strong>Kevin R. Palomino Pacheco</strong></h1>
							</header>
							<p><strong>Data scientist</strong></p>
							<p class="justificado">PhD in Industrial Engineering and Mathematics, specializing in optimization algorithms and predictive modeling. Collaborates with diverse teams to create data-driven solutions, enhancing operational efficiency and decision-making. Published in indexed journals, adept in R, Julia, Python, SQL, and HTML5. Proficient in statistical analysis, mathematical and machine learning modeling, deep learning, and big data management. Skilled in troubleshooting databases and implementing linear programming for process optimization.</p>
						</div>
					</div>
				</div>
			</article>

        <!-- Work -->
			<article id="work" class="wrapper style2">
				<div class="container">
					<header>
						<h2>Here's all the articles I have published in academic journals</h2>
						<p>Introducing the latest developed articles.</p>
					</header>
					<div class="row aln-center">
						<div class="col-4 col-6-medium col-12-small">
							<section class="box style1">
								<span class="icon featured fa-comments"></span>
								<h3 class="justificado">Leading consumption patterns of psychoactive substances in Colombia: A deep neural network-based clustering-oriented embedding approach</h3>
								<p class="justificado">The number of health-related incidents caused using illegal and legal psychoactive substances (PAS) has dramatically increased over two decades worldwide. In Colombia, the use of illicit substances has increased up to 10.3%, while the consumption alcohol and tobacco has increased to 84% and 12%, respectively.</p>
								<a class="button large scrolly" href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0290098" >Plos One</a>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box style1">
								<span class="icon solid featured fa-camera-retro"></span>
								<h3 class="justificado">Big Data Analytics and Mental Health: Would Ethics be the Only Safeguard Against the Risks of Identifying "Potential Patients"?</h3>
								<p> </p>
								<p class="justificado">Despite all the prospects for data growth, sharing, and processing, and all the benefits that big data can bring, this revolution is not exempt from risks. Even if, at some point, computers may be able to provide diagnoses with greater accuracy than medical professionals, would ethics be the only safeguard against the possible risks? .</p>
								<a class="button large scrolly" href="https://ieeexplore.ieee.org/document/10155169" >IEEE</a>
							</section>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<section class="box style1">
								<span class="icon featured fa-thumbs-up"></span>
								<p> </p>
								<h3 class="justificado">Statistical analysis and machine learning in psychoactive substance use: a bibliometric analysis</h3>
								<p class="justificado">Because psychoactive substance use is a topic that has received worldwide attention, this area has added several  scientific  outcomes.  It  is essential  to  conduct  a  comprehensive  analysis  comprising  as  many studies as are available to summarize the separate studies and provide an overall view of how the research field  has  been  evolving  over  the  last  few  decades.</p>
								<a class="button large scrolly" href="https://www.camjol.info/index.php/NEXO/article/view/16017/19126" >NRC</a>
							</section>
						</div>
					</div>
					<footer>
						<p>Would you like to review more research studies I have conducted?</p>
						<a href="https://www.linkedin.com/in/krpalomino/details/publications/" class="button large scrolly">See some more of my recent work</a>
					</footer>
				</div>
			</article>

		<!-- Portfolio -->
			<article id="portfolio" class="wrapper style3">
				<div class="container">
					<header>
						<h2>Courses</h2>
						<p class="justificado">Introducing our latest course tailored for aspiring data scientists! Dive into the world of mathematics, big data, and machine learning with our comprehensive curriculum. Uncover the essentials, master advanced techniques, and embark on a transformative learning journey to excel in the dynamic field of data science.</p>
					</header>
					<div class="row">
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
								<h3><a href="#">Design of experiment </a></h3>
								<p>Ornare nulla proin odio consequat.</p>
							</article>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
								<h3><a href="#">Data science</a></h3>
								<p>Ornare nulla proin odio consequat.</p>
							</article>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
								<h3><a href="#">Machine learning</a></h3>
								<p>Ornare nulla proin odio consequat.</p>
							</article>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
								<h3><a href="#">Big data</a></h3>
								<p>Ornare nulla proin odio consequat.</p>
							</article>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a href="#" class="image featured"><img src="images/pic05.jpg" alt="" /></a>
								<h3><a href="#">Data visualization</a></h3>
								<p>Ornare nulla proin odio consequat.</p>
							</article>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a href="#" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
								<h3><a href="#">Database Foundations</a></h3>
								<p>Ornare nulla proin odio consequat.</p>
							</article>
						</div>
					</div>
					<footer>
						<p>Would you like to review more courses?</p>
						<a href="#contact" class="button large scrolly">Other courses</a>
					</footer>
				</div>
			</article>

		<!-- Contact -->
			<article id="contact" class="wrapper style4">
				<div class="container medium">
					<header>
						<h2>Have me make stuff for you.</h2>
						<p>Ornare nulla proin odio consequat sapien vestibulum ipsum.</p>
					</header>
					<div class="row">
						<div class="col-12">
							<form method="post" action="#">
								<div class="row">
									<div class="col-6 col-12-small">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="col-6 col-12-small">
										<input type="text" name="email" id="email" placeholder="Email" />
									</div>
									<div class="col-12">
										<input type="text" name="subject" id="subject" placeholder="Subject" />
									</div>
									<div class="col-12">
										<textarea name="message" id="message" placeholder="Message"></textarea>
									</div>
									<div class="col-12">
										<ul class="actions">
											<li><input type="submit" value="Send Message" /></li>
											<li><input type="reset" value="Clear Form" class="alt" /></li>
										</ul>
									</div>
								</div>
							</form>
						</div>
						<div class="col-12">
							<hr />
							<h3>Find me on ...</h3>
							<ul class="social">
								<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
								<!--
								<li><a href="#" class="icon solid fa-rss"><span>RSS</span></a></li>
								<li><a href="#" class="icon brands fa-instagram"><span>Instagram</span></a></li>
								<li><a href="#" class="icon brands fa-foursquare"><span>Foursquare</span></a></li>
								<li><a href="#" class="icon brands fa-skype"><span>Skype</span></a></li>
								<li><a href="#" class="icon brands fa-soundcloud"><span>Soundcloud</span></a></li>
								<li><a href="#" class="icon brands fa-youtube"><span>YouTube</span></a></li>
								<li><a href="#" class="icon brands fa-blogger"><span>Blogger</span></a></li>
								<li><a href="#" class="icon brands fa-flickr"><span>Flickr</span></a></li>
								<li><a href="#" class="icon brands fa-vimeo"><span>Vimeo</span></a></li>
								-->
							</ul>
							<hr />
						</div>
					</div>
					<footer>
						<ul id="copyright">
							<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>
				</div>
			</article>
</body>
</html>